# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# ChromaDB
chroma/
chroma_db/
*.sqlite3

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log